<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>yaes</title>
        <link href="../static/bootstrap.min.css" rel="stylesheet">       
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
      
    <body >
        
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">yaes</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Submission</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#API">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<main class="container">
  <div class="row">
    <!--left-->
   <div class="col-md-3 block-left">
      <!--service status-->
      <div class="panel panel-default">
        <div class="panel-heading">Service Status</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item info-row">
              <div class="info-subtitle">Waiting Queue</div>
              <div class="info-value" id="info-waiting_updated">0</div>
            </li>
            <li class="list-group-item info-row">
              <div class="info-subtitle">Failed Queue</div>
              <div class="info-value" id="info-latest_block_num">0</div>
            </li>
            <li class="list-group-item info-row info-row-divider">
              <div class="info-subtitle">Available Email Provider</div>
              <div class="info-value" id="info-available-email-service">0</div>
            </li>
            <li class="list-group-item info-row">
              <div class="info-subtitle">Last Provider Check</div>
              <div class="info-value">10min</div>
            </li>       
          </ul>
        </div>
      </div>
     </div><!--/left-->
    <!--right-->
    <div class="col-md-9">
  	<div class="text-center">
    <h2>Email Submission</h2>
  </div>
      <form role="form">
 <div class="form-group col-md-12">
   <label for="FromEmail1">To</label>
   <input type="email" class="form-control" id="FromEmail1" placeholder="Enter email">
   <label for="ToEmail1">Subject</label>
   <input type="email" class="form-control" id="ToEmail1" placeholder="Enter subject">
   <label for="Textarea">Content</label>
   <textarea type="email" class="col-md-12" placeholder="Enter email content"> </textarea>
  </div>
 <button type="submit" class="btn btn-default col-md-3 col-md-offset-2">Submit</button>
 <button type="reset" class="btn btn-default col-md-3 col-md-offset-2">Reset</button>
</form>
  </div><!--right-->
  </div>
</div><!-- /.container -->       
        <script type='text/javascript' src="/jquery.min.js"></script>
        <script type='text/javascript' src="../static/bootstrap.min.js"></script>
    </body>
</html>
